     <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-danger">E-Farming Store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/admin/add_product">Add Products <span class="sr-only">(current)</span></a>
      </li>

       <li class="nav-item active">
        <a class="nav-link" href="/admin/product">Products <span class="sr-only">(current)</span></a>
      </li>
   
            </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mj "  >
   
          {{!-- <li class="nav-item active">
             <a class="nav-link" href="/admin/login">Logout <span class="sr-only">(current)</span></a>
          </li> --}}
      
      </li>
    </ul>
    </form>

    <form class="form-inline my-2 my-lg-0">
        <li class="nav-item active">
             <a class="nav-link" href="/admin/login">Logout</a>
          </li>
    </form>
  </div>
</nav>


 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Products</h2>

     {{#each  finalResult}}
     {{#each this}}
        <p>product name:{{ this.title }}</p>
    {{/each}}
    {{/each}}  

</div>

</body>
</html>
